### Example user template template
### Example user template
data
data/*
# IntelliJ project files
.idea
.idea/*
*.iml
out
gen
logs/*
src/wandb
src/wandb/*
prediction_results/*
evaluation_results/*
results/*
shell_files/wandb
shell_files/wandb/*

__pycache__/
*.pyc
images
images/*
test
test/*
